@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;

    --purple-main:#5542F6;
    --purple-1:#E666E5;
    --purple-2:#C8C2FC;
    --purple-light-main: var(--light-fill-purple-main-purple, rgba(85, 66, 246, 0.10));

    --blue-main:#0049C6;
    --blue-1:#3E8CFF;

    --red-main:#EE4540;
    --red-1:#FA699D;
    --red-3:#FC9FC0;
    --red-4:#FFBEBE;
    --red-light-main:var(--light-fill-red-main-red, rgba(252, 52, 0, 0.10));

    --green-main: #20C9AC;
    --green-1: #14B13B;
    --green-2: #5ED8C3;
    --green-3: #94E5D8;

    --yellow-main: #FFA15F;
    --yellow-1: #FFDFC0;

    --dark-main:#2E2C34;
    --dark-1:#504F54;
    --dark-2:#84818A;
    --dark-3:#B6B4BA;
    --dark-4:#E3E1E5;
    --dark-5:#EBEAED;
    --dark-6:#FBFAFC;

    --statsShape-1: var(--light-fill-dark-dark-6, rgba(251, 250, 252, 0.10));
    --statsShape-2: var(--light-fill-purple-main-purple, rgba(85, 66, 246, 0.10));

    --box-shadow-input: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 

body {
  @apply bg-dark-6;
}


.regular-text-14-semibold {
  @apply  text-sm leading-5 font-semibold;
}
.regular-text-14-medium {
  @apply  text-sm leading-5 font-medium;
}
.regular-text-12-semibold {
  @apply text-xs leading-[18px] font-semibold;
}
.regular-text-12-medium {
  @apply text-xs leading-[18px] font-medium;
}


.regular-text-14-medium {
  @apply  text-sm leading-5 font-medium;
}
.regular-text-14 {
  @apply  text-sm leading-5 font-normal;
}

.regular-text-16-semibold {
  @apply  text-base  font-semibold;
}
.regular-text-18-semibold {
  @apply  text-lg  font-semibold;
}
.regular-text-18-medium {
  @apply  text-lg  font-medium;
}

.headline-4 {
  @apply  text-[36px] leading-[48px] font-semibold;
}

.headline-5-32-semibold {
  @apply  text-[32px] leading-[40px] font-semibold;
}


.form-1 {
  border-radius: 4px;
  border: 1px solid var(--form-11, #EBEAED);
  background: var(--fill-white-white, #FFF);
}






.prose {
  font-family: "Inter", sans-serif;
  padding: 0px !important;
}

.prose strong {
  font-weight: 600;
}